@import "../../../styles/core-styles";

.ActionContainer {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 30px;
  justify-content: space-between;
}

.ActionBlocks {
  display: flex;
}

.ActionBlock {
  @include ActionBlock;
}

.ActionIconText {
  @include ActionIconText;
}

.ActionIconButton {
  @include ActionIconButton;
}
