@import "../../../styles/core-styles";

/* Shared Group styles */

.pageSizeDropdown {
  @include pageSizeDropdown;
}

.formControl {
  flex-direction: initial;
}

.formControlInline {
  margin-left: 20px;
  width: 40%;
}

.formGroupInline {
  flex-direction: row !important;
  flex-wrap: nowrap;
}

.textControl {
  @include textControl;
}

.settingsDropdown {
  @include common-select;
}

.formValidator {
  @include formValidator;
}

.tooltip {
  @include tooltip;
}

/* Shared Group styles ends */

.groupUpdateContainer {
  min-height: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.membershipGroupPanel {
  margin-top: 20px;
}

.membershipContentPanel {
  margin-top: 10px;
}

.groupButton {
  @include greenButton;

  align-self: flex-start;
  margin-top: 10px;
}

.groupButtonInline {
  margin-left: 20px;
  align-self: flex-start;
}
