@import "../../../styles/core-styles.scss";

.upperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.lowerHeader {
  display: flex;
  justify-content: space-between;
}

.headerSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-right: 6px;

  svg {
    fill: $colour-grey-darkest;
  }
}

.tabLink {
  span:first-child {
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
  }
}

.tabLinkSelected {
  border-bottom: 2px solid $colour-green-light;
}
