body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// Global Portal Brand Colours
$colour-white: #fff;
$colour-grey-light: #f7f7f7;
$colour-grey-mid-light: #ddd;
$colour-grey-mid-dark: #858d94;
$colour-grey-mid: #adb3b7;
$colour-grey-darkest: #49535c;
$colour-green-dark: #04844b;
$colour-green-light: #c4d600;
$colour-red: #f8485e;
$colour-blue-mid: #00a9ce;
