@import "../../../../styles/core-styles";

.paper {
  width: "100%";
}

.callTypesContainer {
  display: flex;
}

.formControl {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.textControl {
  @include textControl;
}

.pageSizeDropdown {
  @include pageSizeDropdown;
}

/* Call Log Search */

.submitButtonPanel {
  display: flex;
}

.tableCell {
  font-size: 0.8rem;
  padding: 5px 12px;
}

.onlyText {
  text-align: center;
}

.tableCellButton {
  text-align: left;
}

.tableCellSubmitPanel {
  border-bottom: none;
}

.addRemoveButton {
  @include greenButton;

  margin-left: 0.7rem;
}

.submitButton {
  @include greenButton;

  margin-left: 0.7rem;
  margin-top: 2rem;
}

.formLabel {
  font-size: 12px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.54);
}

.userSelect {
  width: 155px;
}

.startLabel {
  padding-right: 20px;
}

.loadingContainer {
  display: flex;
  padding-top: 20px;
  align-items: center;
}
