@import "../../../../../../../../styles/core-styles.scss";

.root {
  padding-left: 30px;
}

.GeneralSettingsButton {
  align-self: flex-start;
}

.pageSizeDropdown {
  @include pageSizeDropdown;
}

.formControl {
  flex-direction: initial;
}

.formControlInline {
  margin-left: 20px;
  width: 40%;
}

.formGroupInline {
  flex-direction: row !important;
  flex-wrap: nowrap;
}

.GroupButtonInline {
  margin-left: 20px;
  align-self: flex-start;
}

.textControl {
  @include textControl;
}

.settingsDropdown {
  @include common-select;
}

.formValidator {
  @include formValidator;
}

.tooltip {
  @include tooltip;
}
