@import "variables";
@import "../assets/fonts/fonts";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue, Roboto, Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #818d98;
  color: white;

  p {
    padding-right: 10px;
    font-size: 0.8rem;
  }
}
